---
http_interactions:
- request:
    method: post
    uri: https://api.mailbluster.com/api/leads
    body:
      encoding: UTF-8
      string: '{"firstName":"Richard","lastName":"Hendricks","fields":{"gender":"Male","address":"Silicon
        Valley"},"email":"richard@example.com","ipAddress":"162.213.1.246","subscribed":false,"doubleOptIn":true,"meta":{"company":"Pied
        Piper","role":"CEO"},"tags":["iPhone User","Startup"],"overrideExisting":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21d-7yeVwJYvSO2He8LIjRiKXxD117A"
    body:
      encoding: UTF-8
      string: '{"message":"Lead updated","lead":{"id":262093545,"firstName":"Richard","lastName":"Hendricks","fullName":"Richard
        Hendricks","fields":{},"email":"richard@example.com","timezone":"America/Toronto","ipAddress":"162.213.1.246","subscribed":false,"optInStatus":"waiting","meta":{"city":"","role":"CEO","source":"Lead
        API","company":"Pied Piper","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"tags":["iPhone User","Startup"],"createdAt":"2023-03-08T21:26:08.000Z","updatedAt":"2023-03-08T21:26:10.000Z"}}'
  recorded_at: Wed, 08 Mar 2023 21:47:37 GMT
recorded_with: VCR 6.0.0
