---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/leads/5a91f0b2d2c1e5c3229d906d978b7337
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e3-10EFx1zLHrQcKHt0OBJUIMOhwGM"
    body:
      encoding: ASCII-8BIT
      string: '{"id":262456492,"firstName":"Richard","lastName":"Hendricks","fullName":"Richard
        Hendricks","fields":{},"email":"richard@example.com","timezone":"America/Toronto","ipAddress":"162.213.1.246","subscribed":false,"meta":{"city":"","role":"CEO","source":"Lead
        API","company":"Pied Piper","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"tags":["iPhone User","Startup"],"createdAt":"2023-03-09T18:43:32.000Z","updatedAt":"2023-03-09T18:43:37.000Z"}'
  recorded_at: Thu, 09 Mar 2023 18:44:16 GMT
recorded_with: VCR 6.0.0
