---
http_interactions:
- request:
    method: put
    uri: https://api.mailbluster.com/api/leads/5a91f0b2d2c1e5c3229d906d978b7337
    body:
      encoding: UTF-8
      string: '{"fields":{"gender":"Male","address":null,"hobby":"Programming"},"subscribed":true,"meta":{"company":"Piper
        Net"},"addTags":["Entrepreneur"],"removeTags":["iPhone User"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"204-qjcG1/uPJH79FYlkjePqzMtFlY8"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Lead updated","lead":{"id":262093545,"firstName":"Richard","lastName":"Hendricks","fullName":"Richard
        Hendricks","fields":{},"email":"richard@example.com","timezone":"America/Toronto","ipAddress":"162.213.1.246","subscribed":true,"meta":{"city":"","role":"CEO","source":"Lead
        API","company":"Piper Net","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"tags":["Startup","Entrepreneur"],"createdAt":"2023-03-08T21:26:08.000Z","updatedAt":"2023-03-08T22:14:07.000Z"}}'
  recorded_at: Wed, 08 Mar 2023 22:17:35 GMT
recorded_with: VCR 6.0.0
