---
http_interactions:
- request:
    method: post
    uri: https://api.mailbluster.com/api/fields
    body:
      encoding: UTF-8
      string: '{"fieldLabel":"Gender","fieldMergeTag":"gender"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa-PIYz4Z3cRfniGBEP9V9kEYLagaQ"
    body:
      encoding: UTF-8
      string: '{"message":"Field added","field":{"id":1653,"fieldLabel":"Gender","fieldMergeTag":"gender","createdAt":"2023-03-09T19:35:07.852Z","updatedAt":"2023-03-09T19:35:07.852Z"}}'
  recorded_at: Thu, 09 Mar 2023 19:35:07 GMT
recorded_with: VCR 6.0.0
