---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/fields/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-AFyhzH2xk8uPx2Hu1xQ2+0Jp9WI"
    body:
      encoding: ASCII-8BIT
      string: '{"fields":[{"id":1653,"fieldLabel":"Gender","fieldMergeTag":"gender","createdAt":"2023-03-09T19:35:07.000Z","updatedAt":"2023-03-09T19:35:07.000Z"}]}'
  recorded_at: Thu, 09 Mar 2023 19:57:30 GMT
recorded_with: VCR 6.0.0
