---
http_interactions:
- request:
    method: put
    uri: https://api.mailbluster.com/api/fields/1653
    body:
      encoding: UTF-8
      string: '{"fieldLabel":"Gender","fieldMergeTag":"gender"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-rYlM9/s+RXM29/ptMifa0dsbRE8"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Field updated","field":{"id":1653,"fieldLabel":"Gender","fieldMergeTag":"gender","createdAt":"2023-03-09T19:35:07.000Z","updatedAt":"2023-03-09T19:35:07.000Z"}}'
  recorded_at: Thu, 09 Mar 2023 20:03:14 GMT
recorded_with: VCR 6.0.0
