---
http_interactions:
- request:
    method: post
    uri: https://api.mailbluster.com/api/orders
    body:
      encoding: UTF-8
      string: '{"id":"order_id_0001","customer":{"firstName":"Richard","lastName":"Hendricks","fields":{"gender":"Male","address":"Silicon
        Valley"},"email":"richard@example.com","subscribed":true},"currency":"USD","totalPrice":10.43,"campaignId":174486,"items":[{"id":"101","name":"Reign
        Html Template","price":2.13,"quantity":1},{"id":"102","name":"Slick Html Template","price":4.15,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ce-+FJpHxNeARAhfOCT7vgXAjghNYQ"
    body:
      encoding: UTF-8
      string: '{"message":"Order created","order":{"id":"order_id_0001","currency":"USD","totalPrice":"10.43","createdAt":"2023-03-11T12:47:13.000Z","updatedAt":"2023-03-11T12:47:13.000Z","lead":{"fullName":"Richard
        Hendricks","id":262456644,"firstName":"Richard","lastName":"Hendricks","email":"richard@example.com","timezone":"America/Toronto","ipAddress":null,"subscribed":true,"optInStatus":"waiting","subscribedAt":null,"meta":{"city":"","role":"CEO","source":"Lead
        API","company":"Pied Piper","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"fields":{},"tags":["iPhone User","Startup"]},"campaign":{"id":174486,"name":"Unnamed
        campaign - 11 Mar''23 06:14:33 PM","status":"draft","recipientName":"All recipients"},"brand":{"id":24300,"name":"Mailbluster
        API Test"},"orderItems":[{"quantity":1,"price":"2.13","product":{"id":"101","name":"Reign
        Html Template"}},{"quantity":2,"price":"4.15","product":{"id":"102","name":"Slick
        Html Template"}}]}}'
  recorded_at: Sat, 11 Mar 2023 12:47:13 GMT
recorded_with: VCR 6.0.0
