---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/orders/?pageNo=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a7-kd2KjAHde10R/nvMvNIM04YbJbY"
    body:
      encoding: ASCII-8BIT
      string: '{"orders":[{"id":"order_id_0001","currency":"USD","totalPrice":"10.43","createdAt":"2023-03-09T21:24:16.000Z","updatedAt":"2023-03-09T21:24:16.000Z","campaign":null,"brand":{"id":24300,"name":"Mailbluster
        API Test"},"orderItems":[{"quantity":2,"price":"4.15","product":{"id":"102","name":"Slick
        Html Template"}},{"quantity":1,"price":"2.13","product":{"id":"101","name":"Reign
        Html Template"}}],"lead":{"fullName":"Richard Hendricks","id":262456644,"firstName":"Richard","lastName":"Hendricks","email":"richard@example.com","timezone":"America/Toronto","ipAddress":null,"subscribed":true,"optInStatus":"waiting","subscribedAt":null,"meta":{"city":"","role":"CEO","source":"Lead
        API","company":"Pied Piper","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"fields":{},"tags":["iPhone User","Startup"]}}],"meta":{"total":1,"prevPageNo":null,"pageNo":1,"nextPageNo":null,"perPage":10,"totalPage":1}}'
  recorded_at: Thu, 09 Mar 2023 21:24:25 GMT
recorded_with: VCR 6.0.0
