---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/orders/order_id_0001
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"308-UC5w5mniGmYqwtbQ/2DGlu3Tcc0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"order_id_0001","currency":"USD","totalPrice":"10.43","createdAt":"2023-03-11T13:02:58.000Z","updatedAt":"2023-03-11T13:02:58.000Z","lead":{"fullName":"Richard
        Hendricks","id":262456644,"firstName":"Richard","lastName":"Hendricks","email":"richard@example.com","timezone":"America/Toronto","ipAddress":null,"subscribed":true,"optInStatus":"waiting","subscribedAt":null,"fields":{},"tags":["iPhone
        User","Startup"]},"campaign":{"id":174486,"name":"Unnamed campaign - 11 Mar''23
        06:14:33 PM","status":"draft","recipientName":"All recipients"},"brand":{"id":24300,"name":"Mailbluster
        API Test"},"orderItems":[{"quantity":1,"price":"2.13","product":{"id":"101","name":"Reign
        Html Template"}},{"quantity":2,"price":"4.15","product":{"id":"102","name":"Slick
        Html Template"}}]}'
  recorded_at: Sat, 11 Mar 2023 13:03:05 GMT
recorded_with: VCR 6.0.0
