---
http_interactions:
- request:
    method: put
    uri: https://api.mailbluster.com/api/orders/order_id_0001
    body:
      encoding: UTF-8
      string: '{"customer":{"fields":{"gender":"Male","address":"Silicon Valley"},"subscribed":false,"meta":{"gender":"Male"},"tags":["Developer"]},"campaignId":174486,"currency":"USD","totalPrice":17.28,"items":[{"id":"103","name":"Falcon
        Html Template","price":4.49,"quantity":2},{"id":"102","name":"Slick Html Template","price":4.15,"quantity":2}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ec-Pf8e1uSb2e/rL4DcjzSoeRLDwyo"
    body:
      encoding: UTF-8
      string: '{"message":"Order updated","order":{"id":"order_id_0001","currency":"USD","totalPrice":"17.28","createdAt":"2023-03-11T12:47:13.000Z","updatedAt":"2023-03-14T14:44:32.000Z","lead":{"fullName":"Richard
        Hendricks","id":262456644,"firstName":"Richard","lastName":"Hendricks","email":"richard@example.com","timezone":"America/Toronto","ipAddress":null,"subscribed":false,"optInStatus":"waiting","subscribedAt":null,"meta":{"city":"","role":"CEO","gender":"Male","source":"Lead
        API","company":"Pied Piper","country":"Canada","latitude":43.6319,"continent":"North
        America","longitude":-79.3716},"fields":{},"tags":["iPhone User","Startup","Developer"]},"campaign":{"id":174486,"name":"Unnamed
        campaign - 11 Mar''23 06:14:33 PM","status":"draft","recipientName":"All recipients"},"brand":{"id":24300,"name":"Mailbluster
        API Test"},"orderItems":[{"quantity":2,"price":"4.15","product":{"id":"102","name":"Slick
        Html Template"}},{"quantity":2,"price":"4.49","product":{"id":"103","name":"Falcon
        Html Template"}}]}}'
  recorded_at: Tue, 14 Mar 2023 14:44:32 GMT
recorded_with: VCR 6.0.0
