---
http_interactions:
- request:
    method: post
    uri: https://api.mailbluster.com/api/products
    body:
      encoding: UTF-8
      string: '{"id":"101","name":"Reign Html Template"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f-Hhkk7eyRNog1vKOJU9y2Q4Es8bE"
    body:
      encoding: UTF-8
      string: '{"message":"Product created","product":{"id":"101","name":"Reign Html
        Template","createdAt":"2023-03-09T20:34:52.873Z","updatedAt":"2023-03-09T20:34:52.873Z"}}'
  recorded_at: Thu, 09 Mar 2023 20:34:52 GMT
recorded_with: VCR 6.0.0
