---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/products/?pageNo=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3-ccjWC0O31TLdpabWcJR1tkkQabA"
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":"101","name":"Reign Html Template","createdAt":"2023-03-09T20:34:52.000Z","updatedAt":"2023-03-09T20:34:52.000Z"}],"meta":{"total":1,"prevPageNo":null,"pageNo":1,"nextPageNo":null,"perPage":10,"totalPage":1}}'
  recorded_at: Thu, 09 Mar 2023 20:58:43 GMT
recorded_with: VCR 6.0.0
