---
http_interactions:
- request:
    method: get
    uri: https://api.mailbluster.com/api/products/101
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77-eGwxXrHQBehv42DXLLJFMBSCEZ8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"101","name":"Reign Html Template","createdAt":"2023-03-09T20:34:52.000Z","updatedAt":"2023-03-09T20:34:52.000Z"}'
  recorded_at: Thu, 09 Mar 2023 20:36:36 GMT
recorded_with: VCR 6.0.0
