---
http_interactions:
- request:
    method: put
    uri: https://api.mailbluster.com/api/products/101
    body:
      encoding: UTF-8
      string: '{"name":"Reign PRO Html Template"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - MAILBLUSTER_API_KEY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-Pchw5L15EUboOHz9oThJTJp/iBM"
    body:
      encoding: UTF-8
      string: '{"message":"Product updated","product":{"id":"101","name":"Reign PRO
        Html Template","createdAt":"2023-03-09T20:34:52.000Z","updatedAt":"2023-03-09T21:00:44.000Z"}}'
  recorded_at: Thu, 09 Mar 2023 21:00:44 GMT
recorded_with: VCR 6.0.0
